<!-- users/templates/emails/welcome_email.html -->
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Quizzy - password reset</title>
  </head>

  <body
    style="font-family: Arial, sans-serif; background: #f6f7fb; padding: 20px"
  >
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background: white;
        padding: 30px;
        border-radius: 10px;
      "
    >
      <div style="text-align: center; max-width: 400px; margin: 0 auto">
        <img
          src="https://res.cloudinary.com/dnnab4vv0/image/upload/v1782326750/quizzy-logo_yhbea8.png"
          alt="logo"
          style="max-width: 100%; height: auto; display: block; margin: 0 auto"
        />
      </div>
      <h1 style="color: #3e3b69; text-align: center">Password reset</h1>

      <p style="text-align: center">
        Click the link bellow to reset your password!
      </p>
      <p style="text-align: center"><strong>{{ link }}</strong>,</p>

      <hr />

      <p style="font-size: 12px; color: #888; text-align: center">
        If reset link is not working conntact us via email provided in the app
        bottom right corner.
      </p>
    </div>
  </body>
</html>
