<!-- users/templates/emails/welcome_email.html -->
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Quizzy</title>
  </head>

  <body
    style="font-family: Arial, sans-serif; background: #f6f7fb; padding: 20px"
  >
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background: white;
        padding: 30px;
        border-radius: 10px;
      "
    >
      <div style="text-align: center">
        <img
          src="https://res.cloudinary.com/dnnab4vv0/image/upload/v1782326750/quizzy-logo_yhbea8.png"
          alt="logo"
        />
      </div>
      <h1 style="color: #4f46e5; text-align: center">Welcome to Quizzy</h1>

      <p style="text-align: center">Hello <strong>{{ username }}</strong>,</p>

      <p style="text-align: center">
        Thanks for joining Quizzy! We're happy to have you on board.
      </p>

      <p style="text-align: center">
        Start by exploring quizzes and earning XP. Meet you there!
      </p>

      <hr />

      <p style="font-size: 12px; color: #888; text-align: center">
        For more info about the app visit Info section.
      </p>
    </div>
  </body>
</html>
