@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  box-sizing: border-box;
  --main-blue: linear-gradient(to right, #e0f2fe, #bae6fd);

  --default-font-family: "Roboto Slab", serif;

  --blue-shadow: 0px 0px 13px 4px rgba(52, 115, 138, 1);
}

@keyframes slide-in {
  0% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}

.animate-slide-in {
  display: inline-block;
  animation: slide-in 0.5s forwards;
}

@layer utilities {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  .scrollable {
    @apply overflow-y-auto;
  }

  .nav-mobile {
    @apply bg-[#70BFFF] text-gray-800 rounded-xl px-2 border-2 border-gray-500 text-lg md:bg-transparent md:text-black md:rounded-none md:px-0;
  }

  .nav {
    @apply md:py-0.5 md:px-2 md:rounded-xl md:border md:border-transparent md:text-lg md:text-black;
  }
  .nav-hover {
    @apply md:transform md:transition-transform md:duration-300 md:ease-out md:hover:bg-gradient-to-r md:hover:from-sky-100 md:hover:to-sky-200 md:hover:border-black md:hover:rounded-2xl;
  }

  .main-children-wrapper {
    @apply flex flex-col md:flex-row items-center md:items-start bg-transparent p-2 md:p-8 flex-1;
  }

  .form-container {
    @apply p-5 rounded-lg shadow-[var(--blue-shadow)];
  }

  .chose-difficulty-container {
    @apply relative flex flex-col gap-5 justify-center items-center w-full md:w-1/2 lg:w-1/4 h-[200px] mx-auto bg-gray-100 rounded-lg shadow-[var(--blue-shadow)] bg-gradient-to-b from-zinc-300 to-zinc-500;
  }

  .chose-difficulty-container select {
    @apply text-center text-lg bg-green-200 cursor-pointer;
  }
}
