@import "tailwindcss";

@keyframes slide-in {
  0% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}

.animate-slide-in {
  display: inline-block;
  animation: slide-in 0.5s forwards;
}

@layer utilities {
  .nav {
    @apply px-2 py-0.5 rounded-lg border border-transparent;
  }

  .nav-hover {
    @apply hover:bg-gradient-to-r hover:from-sky-100 to-sky-200 hover:border-black;
  }
}
